.navcolor{ 
    background:rgb(193, 213, 195);
}

body{
    background:whitesmoke;
}

.logo{
    width: 100px;
    height: 100px;
}

.n-width{
    width: 40%;
}

.textcolor{
    color:rgb(129, 202, 136);
}

.mt-6{
    margin-top: 10%;
}
