.navcolor{ 
    background:rgb(193, 213, 195);
}


body{
    background:whitesmoke;
}
.logo{
    width: 150px;
    height: 80px;
}


.n-width{
    width: 40%;
}

.textcolor{
    color:rgb(129, 202, 136);
}

